@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div id="box1">
    @Html.Action("Hot", "Blog")   
</div>
<div id="box2">
    @Html.Action("Part", "Blog")
</div>
<div id="box3">
    課後作業
</div>
<br class="clear" />
